@import "tailwindcss";

:root {
  --background: #f1f5f9;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #065f46; /* emerald-700 */
  font-weight: 600;
}

a {
  color: #065f46;
}

/* Header Animations */

@keyframes fadeColors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-fade-colors {
  background-size: 200% 200%;
  animation: fadeColors 6s ease infinite;
}
